* {
padding: 0;
margin: 0;
}
body {
	background: #1e1e1e;
	font-size: 60pt;
	color: #fff;
	font-family: fantasy, arial;
}
#camp {
	margin-top: 0%;
	width: 100%;
}
#camp input {
	width: 50%;
}
#p1 {
		float: left;
}
#p2 {

	float: right;
}
#p2 h6 {
	float: right;
}
#p1 h6{
	float: right;
}
#ALL {
	position: absolute;
	margin-top: 0;
	background: rgba(0, 0, 95, 0.9);
	width: 100%;
	height: 100%;
}
#ALL input{
	margin-left: 40%;
	width: 20%;
}
#b1 {
	position: absolute;
	width: 45%;
	height: 100%;
	left: 0;
	background: rgba(50, 0, 0, 0.3);
	display: none;
}

#b2 {
	position: absolute;
	width: 45%;
	height: 100%;
	right: 0;
	background: rgba(50, 0, 0, 0.3);
	display: none;

}

.botao {
	border-radius: 2px;
	box-shadow: 2px 2px 3px #363636;
	padding: 5px;
	border: solid 1px #cc0000;
	font-family: monospace;
	font-size: 20pt;
}
.botao:hover{
	background: #000;
	color: #fff;
}
.botao:active{
	background: #323;
}
.close {
	color: #CD0000;
	background: #ffbf00;
}
.atack {
	color: #fff;
	background: #df0000;
}

}
.special {
	color: #fef;
	background: #00CF00;
}
.text {
	font-size: 18pt;
	border: 2px green solid;
	border-radius: 3px;
}
.mini {
	color: #fef;
	background: #2222ff;
	border-color: gray;
}
h6 {
	padding: 3px 6px;
	background: #1f1f1f;
	border-radius: 3px;
	border: 1px solid #fff;
}
