* {
	padding: 0;
	margin: 0;
}
body {
	background: #000;
	font-size: 20pt;
	color: #fff;
}
.mag {
	color: #CB0000;
}
.logo {
	float: right;
	width: 5%;
}
#brand h1{
	float: left;	
}
#brand {
	width: 100%;
	margin: auto;	
	height: 70px;
	background: #fafafa;
	color: #012d00;
	font-family: fantasy, monospace, georgian;
	border-bottom: 5px solid #a0a0a0
}

a {
	display: block;
	text-decoration: none;
	}
a:link{color: purple}
a:visited{color: purple}
a:hover{color: red; box-shadow: 1px 1px 1px green;}
a:active{color: white}