* {
  padding: 0px;
  margin-left: 0px;
}
.l {
  float: left;
}
.r{
  float: right;
}
.doido {
  position: absolute;
  display: block;
  margin-top: 300px;
  margin-left: 300px;
}
.tub {
  position: absolute;
  display: block;
  margin-top: 300px;
  margin-left: 700px;
}

#show {
  border: 3px green solid;
  border-radius: 10px;
  width: 20%;
  margin: auto;
  margin-left: 600px;
  position: absolute;
}
body {
  background: #000;
  color: #fff;
  font-size: 15pt;
  font-family: monospace;
}
